@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Core style */
html {
    box-sizing: border-box;
    scrollbar-arrow-color: #369E0F;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-decoration: none;
    line-height: 1.2;
}

textarea:focus,
select:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button {
    border: none;
    background: none;
}

button:focus {
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
}

a:active,
a:focus,
a:hover {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btnn {
    border-radius: 30px;
    background: linear-gradient(267deg, #3EB40C 0%, #345F99 100%);
    color: #fff;
    text-align: center;
}

.header-top .container {
    display: flex;
    gap: 30px;
    padding: 40px 0;
    justify-content: space-between;
}

.header-top .container .header-logo__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top .header-logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 79px;
}

.header-top .header-logo-info h2 {
    color: #369E0F;
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 10.08px;
    margin-bottom: 5px;
}

.header-logo-info h3 {
    color: #345F99;
    font-size: 17px;
    font-weight: 600;
    line-height: 19px;
    /* 135.714% */
    letter-spacing: -0.56px;
    margin-bottom: 10px;
}

.header-logo-info h4 {
    color: #345F99;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.56px;
}


.header-top__socials {
    display: flex;
    gap: 78.5px;
    padding: 0 40px;
    justify-content: start;
}

.top-number__socials {
    display: flex;
}

.top-number__socials .top-number {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-number h3 a {
    color: #345F99;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.top-number__socials .top-number .top-socials {
    display: flex;
    gap: 9px;
}

.top-email a {
    color: #51C444;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.header-top__rating {
    display: flex;
    flex-direction: column;
    height: 79px;
    justify-content: space-between;
}

.header-top__rating .btnn {
    width: 222px;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.header-top__rating .online-calc {
    color: #51C444;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}


/* header bottom start */
.header-bottom {
    background: #D4E5EF;
}

.header-bottom .container {
    padding: 24px 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header-bottom .navbar-nav {
    display: flex;
    margin-right: 0 !important;
    width: 100%;
    justify-content: space-between;
}

.header-bottom .navbar-nav .nav-linkk {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 5px 29px 5px 30px;
    border-radius: 30px;
    background: #345F99;
    display: flex;
    align-items: center;
    gap: 7px;
}

.header-bottom .navbar-nav .nav-linkk__green {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 5px 29px 5px 30px;
    border-radius: 30px;
    background: #3EB20C;
    display: flex;
    align-items: center;
}

.header-bottom .navbar-nav .nav-linkk__question {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    border-radius: 30px;
    background: #345F99;
    display: flex;
    justify-content: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
}

.sale-scrap .main-sale {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 14px;
    margin-top: 30px;
}

.main-sale h3 {
    color: #345F99;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.main-sale h5 {
    color: #3CA722;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.main-sale h5 a {
    color: #3CA722;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.sale-scrap .title-box .title {
    color: #345F99;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.sale-scrap .title-box .title::before {
    position: absolute;
    content: "";
    border-radius: 30px;
    background: linear-gradient(267deg, #3EB40C 0%, #345F99 100%);
    width: 627px;
    height: 2px;
    right: 0;
    transform: translateY(50%);
    top: 50%;
}


.register-login {
    justify-content: space-between;
    margin-top: 66px;
    border-radius: 15px;
    background: #D4E5EF;
    display: flex;
    align-items: center;
    padding: 30px 40px 31px 30px;
    gap: 18px;
}

.register-price {
    display: flex;
    align-items: center;
    gap: 41px;
}

.register-price .rule img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.register-price .register-arrow h3 {
    color: #023887;
    font-size: 20px;
    font-weight: 400;
}

.register-price .register-arrow {
    display: flex;
    align-items: center;
}

.register-arrow .arrow-img {
    position: absolute;
    top: 50%;
    right: 109px;
    transform: translateY(-50%);
}

.register-arrow img {
    width: 60px;
    height: 100%;
    margin-left: 44px;
}


.register-buttons {
    display: flex;
    gap: 26px;
}

.register-buttons .btnn {
    border-radius: 30px;
    background: #2A5391;
    padding: 12px 46px;
    transition: all .3s ease;
}

.register-buttons .btnn:hover {
    background: #2d64b8;
}

.register-buttons .btn-two {
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid #3EB40C;
    color: #3EB40C;
    padding: 13px 50px;
    transition: all .3s ease;
}

.register-buttons .btn-two:hover {
    color: #fff;
    background: #3EB40C;
}

/* services section styles */
.services {
    margin-top: 51px;
}

.services .services-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-boxes::-webkit-scrollbar {
    display: none;
}

.services .services-boxes .service-box {
    display: flex;
    padding: 39px 41px 43px 20px;
    width: 368.678px;
    height: 191px;
    border-radius: 15px;
    background: #D4E5EF;
    gap: 15px;
    box-sizing: border-box;
}

.service-box .service-img {
    padding: 5px;
}

.service-box .service-info {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.service-box .service-info h3 {
    color: #345F99;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.service-box .service-info h4 {
    color: #345F99;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

/* katalog section start */
.katalog {
    margin-top: 71px;
}

.katalog .title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.katalog .title-box .btnn {
    padding: 17px 40px;
    display: flex;
    gap: 37px;
    width: 279px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.katalog .title-box .btnn svg {
    width: 22px;
    height: 22px;
}


.katalog .title-box .katalog-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 861px;
}

.katalog .katalog-input input {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #D4E5EF;
    padding: 18px 38px 19px 68px;
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 110%;
}

.katalog .katalog-input input ::placeholder {
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
}

.katalog .title-box .katalog-input a {
    position: absolute;
    right: 66px;
}

.all-katalog__boxes {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 45px;
}

.katalog-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    row-gap: 20px;
}

.katalog-box__info {
    padding: 45px 32px 50px 21px;
    display: flex;
    flex-direction: column;
    background: #D4E5EF;
    border-radius: 0 0 15px 15px;
}

.katalog-box__info h3 {
    color: #023887;
    font-size: 16px;
    font-weight: 700;
}

.katalog-box__info p {
    color: #2A5391;
    font-size: 14px;
    font-weight: 400;
    margin: 25px 0 20px 0;
}

.katalog-box__info p span {
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
}

.katalog-box__info h4 {
    color: #2A5391;
    font-size: 18px;
    font-weight: 400;
}

.katalog-box__info h4 .green-text {
    color: #3EB10C;
    font-size: 18px;
    font-weight: 400;
}

.katalog-box .btnn {
    height: 40px;
    border-radius: 30px;
    background: #2A5391;
    line-height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.katalog-box .btnn:hover {
    background: #2d64b8;
}

.all-katalog__boxes .btnn-end .btnn {
    padding: 17px 40px;
    width: 358px;
}


.footer-top {
    margin-top: 90px;
    background: #2A5391;
    padding: 70px 0;
}

.footer-top .container {
    border-top: 2px solid #949393;
    padding: 50px 0;
    border-bottom: 2px solid #949393;
}

.footer .footer-info {
    width: 300px;
}

.footer li {
    list-style: none;
    color: #fff;

}

.footer-info .footer-body {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    flex-direction: column;
}

.footer-body a {
    color: #bdbaba;
    font-weight: 400;
    font-size: 15px;
}

.footer .info-one .footer-end {
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer .footer-end {
    margin-top: 65px;
}

.footer .footer-end a {
    color: #3EB40C;
    text-decoration: underline;
}

.footer .footer-end .green-bg {
    color: #fff;
    padding: 16px 40px;
    width: 250px !important;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    top: -13px;
    background: #3EB40C;
    text-decoration: none;
}

/* header bottom */
.footer-bottom {
    background: #fff;
    padding: 20px 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-bottom .grayText {
    color: #4e4949;
    font-size: 14px;
    font-weight: 600;
}

.footer-bottom .green-text {
    color: #3CA722;
    font-weight: 400;
    font-size: 16px;
}

.welcome-people {
    margin-top: 66px;
    border-radius: 15px;
    background: #D5E4EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.welcome-people h3 {
    color: #345F99;
    font-size: 20px;
    font-weight: 500;
}

.welcome-people .green-outline a {
    font-size: 16px;
    color: #3EB40C;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid #3EB40C;
    padding: 13px 47px 12px 52px;
    transition: all .3s ease;
}

.welcome-people .green-outline:hover a {
    color: #fff;
    background: #3EB40C;
}

.katalog .product-boxes {
    margin-top: 39px;
}

.dropdown .dropdown-menu {
    border-radius: 15px;
    background: #D4E5EF;
    width: 292px;
    padding: 0;
    margin-top: 39px !important;
}

.dropdown-menu.show {
    display: flex;
    width: 272px;
    flex-direction: column;
    gap: 15.1px;
}

.dropdown-menu li .dropdown-item {
    color: #2A5391;
    width: 100%;
    padding: 13px 84px 13px 40px;
    font-size: 16px;
    font-weight: 400;
}

.dropdown-menu li:hover .dropdown-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background: #3EB20C;
}

.katalog .title-box-two {
    align-items: start;
}

.num {
    pointer-events: none;
}

.plus,
.minus {
    cursor: pointer;
}

.product-box {
    width: 261px;
    height: 548px;
    background: #D4E5EF;
    border-radius: 15px;
}

.product-box__info {
    padding: 38px 20px 30px 21px;
}


.product-box__info .product-box__header {
    margin-bottom: 25px;
}

.product-box__info .product-box__header h3 {
    color: #023887;
    font-size: 16px;
    font-weight: 700;
}

.product-box__body {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 17px;
    border-bottom: 2px solid rgba(42, 83, 145, 0.10);
    ;
}

.product-box .product-box__footer {
    display: flex;
    flex-direction: column;
}

.product-box .product-box__buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-box .product-box__buttons .buy-btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    background: #2A5391;
    transition: all .3s ease;
    height: 40px;
}

.product-box .product-box__buttons .buy-btn:hover {
    background: #2d64b8;
}

.product-box__buttons .offer-btn {
    color: #3EB40C;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    height: 40px;
    margin-top: 6px;
    border: 2px solid #3EB40C;
    transition: all .3s ease;
}

.product-box__buttons .offer-btn:hover {
    color: #fff;
    background: #3EB40C;
}

.product-box__footer .price {
    color: #2A5391;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
}

.product-box__footer .price span {
    color: #3EB10C;
    font-size: 18px;
    font-weight: 400;
}

.product-box__body h4 {
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
}

.product-box__body .funksiya {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-box__body .funksiya img {
    width: 22px;
    height: 22px;
}

.funksiya .plus,
.funksiya .plus-two,
.funksiya .plus-three,
.funksiya .plus-four,
.funksiya .plus-five,
.funksiya .plus-sex,
.funksiya .plus-seven,
.funksiya .plus-eight,
.funksiya .plus-nine {
    cursor: pointer;
}

.funksiya .minus,
.funksiya .minus-two,
.funksiya .minus-three,
.funksiya .minus-four,
.funksiya .minus-five,
.funksiya .minus-sex,
.funksiya .minus-seven,
.funksiya .minus-eight,
.funksiya .minus-nine {
    cursor: pointer;
}

.funksiya .num,
.funksiya .num-two,
.funksiya .num-three,
.funksiya .num-four,
.funksiya .num-five,
.funksiya .num-sex,
.funksiya .num-seven,
.funksiya .num-eight,
.funksiya .num-nine {
    color: #2A5391;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0 28px;
    border-radius: 30px;
    background: #E5EDF3;
}

.header-bottom .container {
    justify-content: start;
}

.header-bottom .search-menu {
    width: 100%;
}

.header-bottom .search-menu img {
    display: none;
}

.header-bottom .title-box {
    display: none;
}



/* MODAL ----- LOGIN */
.modal-content {
    border-radius: 15px;
    background: #FFF;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 0;
    margin: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.login-dialog {
    width: 459px;
}

.login-content {
    padding: 49px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 459px;
}

.login-content .login-header {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}

.modal-header .header-close__btn {
    width: 100%;
    text-align: right;
}

.modal-header .header-close__btn button {
    height: 15px;
    padding: 0;
    line-height: 13px;
}

.login-header .header-login h2 {
    color: #295491;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.login-body {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.login-body__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login-body__info h3 {
    color: #295491;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    margin: 0 auto;
}

.login-body__info h4 {
    color: #3EB20C;
    text-align: center;
    width: 385px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
}

.login-body__inputs {
    display: flex;
    flex-direction: column;
    gap: 14px;
    display: flex;
}

.login-body__inputs input {
    border-radius: 30px;
    color: #295491;
    font-size: 16px;
    font-weight: 300;
    background: #D4E5EF;
    width: 100%;
    padding: 19px 0px 18px 22px;
    border: none;
}

.login-body__inputs .password {
    border: none;
}

.login-body__inputs .password input {
    border-radius: 30px;
    padding: 19px 0px 18px 22px !important;
    background: #D4E5EF;
    width: 100%;
    padding: 19px 18px 0 22px;
    border: none;
}


.login-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-footer .btnn {
    padding: 17px 40px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.login-footer .forget {
    color: #295491;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}




/* MODAL -------- FORGET */
.forget-dialog {
    width: 459px;
    height: auto;
}

.forget-content {
    padding: 50px;
    gap: 20px;
}

.forget-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forget-header h2 {
    color: #295491;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.forget-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forget-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.forget-input input {
    border-radius: 30px;
    background: #D4E5EF;
    color: #295491;
    font-size: 16px;
    font-weight: 300;
    padding: 19px 0 18px 22px;
    border: none;

    outline: none;
    width: 100%;
}

.modal-body input::placeholder {
    color: #295491;
    font-size: 16px;
    font-weight: 300;
}

.forget-body h3 {
    color: #295491;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
}

.forget-body h4 {
    color: #3EB20C;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 385px;
}


.forget-footer .btnn {
    width: 100%;
    padding: 17px 40px;
}




/* MODAL ---------- REGISTER */
.register-dialog {
    width: 786px;
}

.register-content {
    padding: 50px 44px;
    width: 786px;
}

.register-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.register-close__btn {
    justify-content: start;
    width: 100%;
    display: flex;
}

.register-header h2 {
    color: #295491;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.register-body__info h3 {
    color: #295491;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.register-body__info h4 {
    color: #3EB20C;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.register-body__inputs {
    margin-top: 35px;
}

.register-body__inputs {
    justify-content: start;
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.register-body__inputs .row {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    margin-top: 0;
}

.register-body__inputs .row .col-6 h4 {
    color: #295491;
    font-size: 16px;
    margin-left: 39px;
    font-weight: 400;
}

.register-body__inputs input {
    border-radius: 30px;
    background: #D4E5EF;
    color: #295491;
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 19px 0 18px 22px;
    width: 100%;
}

.register-body__inputs input::placeholder {
    color: #295491;
    font-size: 16px;
    font-weight: 300;
}

.col-6 {
    padding: 0;
}

.register-footer {
    justify-content: start;
    margin-top: 20px;
}

.register-footer .row {
    width: 100%;
}

.register-footer .btnn {
    padding: 17px 40px;
    width: 100%;
}

.register-footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-footer__info h3,
.register-footer__info h4 {
    color: #2A5391;
    font-size: 13px;
    font-weight: 300;
}

.register-footer__info h3 span,
.register-footer__info h4 span {
    color: #3CAF0E;
    font-size: 13px;
    font-weight: 400;
}




.rtwo-dialog {
    width: 834px;
    height: auto;
}

.rtwo-content {
    width: 834px;
    padding: 97px 70px 98px 70px;
    text-align: center;
}

.rtwo-body {
    display: flex;
    flex-direction: column;
}

.rtwo-body svg {
    width: 100%;
    margin-bottom: 23px;
}

.rtwo-body h3 {
    color: #295491;
    font-size: 20px;
    font-weight: 700;
    line-height: 129.188%;
}

.rtwo-body h4 {
    color: #295491;
    font-size: 20px;
    font-weight: 400;
    line-height: 129.188%;
}

/* MODAL -------------  BUY */
.buy-dialog {
    width: 834px;
}

.buy-content {
    width: 834px;
    margin: 0 auto;
    padding: 107px 70px 108px 70px;
}

.buy-content .buy-body {
    display: flex;
    flex-direction: column;
}

.buy-content .buy-body svg {
    width: 100%;
}

.buy-content h3 {
    color: #023887;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 91.688%;
    margin-top: 23px;
}

.buy-content .buy-body h4 {
    color: #023887;
    font-size: 20px;
    font-weight: 400;
    line-height: 91.688%;
    text-align: center;
    margin: 17px 0 22px 0;
}

.buy-content .buy-body h4 span {
    color: #54BF2A;
    font-size: 20px;
    font-weight: 400;
    line-height: 91.688%;
}

.buy-content .buy-body h5 {
    color: #023887;
    font-size: 20px;
    font-weight: 400;
    line-height: 91.688%;
    text-align: center;
}



/* MODAL ----------- RECOMMEND */
.recommend-dialog {
    width: 459px;
}

.recommend-content {
    padding: 50px;
    width: 459px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recommend-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recommend-content .recommend-header button {
    width: 100%;
    display: flex;
    justify-content: end;
}

.recommend-header h3 {
    color: #295491;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.recommend-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rbody-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rbody-info h3 {
    color: #295491;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 129.188%;
}

.rbody-info h2 {
    color: #3EB20C;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.rbody-howMany .title {
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}

.rbody-howMany {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.rbody-howMany .how-many {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rbody-howMany .how-many .funksiya {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.recommend-footer .btnn{
    width: 100%;
    padding: 17px 40px;
}
.rbody-howMany .funksiya .num-ten,
.rbody-howMany .funksiya .num-eleven {
    border-radius: 30px;
    background: #E5EDF3;
    text-align: center;
    padding: 7px 28px;
    width: 100%;
}

/* show password input */
.password {
    position: relative;
}


.password img {
    position: absolute;
    width: 24px;
    cursor: pointer;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* media queries */

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width:1400px) {


    .katalog .title-box .katalog-input {
        width: 820px;
    }

    .service-box {
        width: 350px !important;
    }

    .katalog .title-box .btnn {
        width: 250px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 20px;
    }

    .katalog-boxes .katalog-box,
    .katalog-box .katalog-box__img,
    .katalog-box .katalog-box__img img {
        width: 250px;
    }
}

@media (max-width:1200px) {
    .register-arrow img {
        display: none;
    }

    .header-top .container {
        gap: 0px;
    }

    .header-top__socials {
        gap: 0px;
        padding: 0;
    }

    .search-icon img {
        display: none;
    }

    .service-box {
        width: 300px !important;
    }

    .katalog .title-box .katalog-input {
        width: 650px;
    }

    .katalog-boxes {
        justify-content: center;
        column-gap: 15px;
    }

    .katalog-boxes .katalog-box,
    .katalog-box .katalog-box__img,
    .katalog-box .katalog-box__img img {
        width: 220px;
    }

    .katalog-box__info {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-bottom .navbar-nav .nav-linkk {
        padding: 5px 20px;
    }

    .services .services-boxes .service-box {
        padding-right: 20px;
        width: 300px;
        gap: 10px;
    }

    .service-box .service-info {
        gap: 0px;
    }

    .all-katalog__boxes .btnn-end .btnn {
        width: 358px;
    }
}

@media (max-width:1130px) {
    .services-boxes {
        gap: 20px;
    }

    .register-login {
        justify-content: space-between;
    }

    .register-price .register-arrow {
        width: 100%;
    }

    .sale-scrap .title-box .title {
        font-size: 35px;
    }



    .services-boxes .service-box h3 {
        font-size: 14px;
    }


    .services-boxes .service-box h4 {
        font-size: 14px;
        width: 100%;
    }

    .service-box .service-info {
        gap: 5px;
    }

}

@media (max-width:991px) {

    .header-top {
        background: #D4E5EF;
    }

    .header-logo img {
        width: 60px;
        height: 60px;
    }

    .header-top .container {
        border-bottom: 2px solid #023887;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header-top .header-logo-info h2 {
        color: #023887;
        letter-spacing: 0;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .top-number__socials .top-number .top-socials,
    .top-email,
    .search-icon,
    .header-top__rating {
        display: none;
    }

    .header-logo-info h3 {
        display: none;
    }

    .header-logo-info h4 {
        display: none;
    }

    /* header bottom */
    .header-bottom .container {
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
    }

    .header-bottom .search-menu {
        display: flex;

    }

    .header-bottom .title-box .title {
        color: #345F99;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px;
    }

    .navbar-light .navbar-toggler:focus .dn-search {
        display: none;
    }

    .header-bottom .search-menu {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    .header-bottom .search-menu img,
    .header-bottom .title-box {
        display: block;
    }

    .sale-scrap .title-box .title {
        font-size: 30px;
    }

    .all-katalog__boxes .btnn-end .btnn {
        width: 270px;
    }

    .services-boxes {
        overflow-x: scroll;
    }

    .header-bottom .navbar-nav {
        gap: 10px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .katalog .title-box .katalog-input {
        width: 100% !important;
    }

    #toGithub {
        width: 100%;
    }

    .sale-scrap .main-sale {
        margin: 30px 0 10px 0;
    }

    .sale-scrap .title-box .title::before {
        display: none;
    }

    .register-price {
        gap: 10px;
    }

    .register-login {
        margin-top: 41px;
        justify-content: space-between;
    }

    .register-buttons .btnn {
        padding: 10px 30px;
    }

    .header-bottom .navbar .nav-linkk,
    .header-bottom .navbar .nav-linkk__green {
        display: inline-block;
        padding: 5px 30px;
    }

    .katalog .title-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .services .services-boxes .service-box {
        padding-top: 20px;
    }

    .service-box .service-info h4 {
        line-height: 120%;
    }

}

@media (max-width:900px) {
    .register-login {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width:768px) {

    .register-login {
        padding: 20px;
    }

    .header-top__socials {
        padding-left: 0;
        padding-right: 10px;
    }

    .services .services-boxes .service-box {
        flex-direction: column;
        padding: 25px 33px 65px 29px;
        height: 247px;

    }

    .services-boxes .service-box h3 {
        margin-top: 15px;
        width: 175px;
    }

    .services-boxes .service-box h4 {
        width: 166px;
        line-height: 20px !important;
    }

    .service-box .service-info {
        gap: 20px;
    }

    .register-buttons .btnn,
    .register-buttons .btn-two {
        padding: 10px 20px !important;
    }

    .register-price .register-arrow h3 {
        font-size: 15px;
    }

    .services-boxes .service-box h4 {
        line-height: 15px;
    }

    .service-box .service-info h3 {
        line-height: 15px;
        font-size: 13px;
    }

    .services-boxes .service-box {
        gap: 0px !important;
    }

    .services-boxes .service-box h4 {
        font-size: 14px;
    }

    .katalog .title-box {
        justify-content: center;
        align-items: center;
    }

    .katalog .title-box .btnn {
        display: flex;
        gap: 10px;
    }

    .register-buttons {
        gap: 15px;
    }
}

@media (max-width:500px) {
    .register-login {
        padding: 20px 10px;
    }

    .katalog .title-box .btnn {
        width: 100%;
        gap: 37px;
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        justify-content: space-between;
    }

    .register-buttons .btn-two {
        padding: 10px 30px;
    }

    .katalog-boxes {
        justify-content: center;
    }

    .all-katalog__boxes .btnn-end .btnn {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .katalog-box__info h3 {
        font-size: 14px;
    }

    .katalog-box__info h4,
    .katalog-box__info h4 span {
        font-size: 14px !important;
    }

    .katalog-boxes .katalog-box,
    .katalog-box .katalog-box__img,
    .katalog-box .katalog-box__img img {
        width: 165px;
    }

    .katalog-box__info {
        padding: 29px 12px 19px 11px;
    }

    .katalog .katalog-input input {
        padding-right: 45px;
        padding-left: 38px;
    }

    .katalog .title-box .katalog-input a {
        right: 19px;
    }

    .katalog-box .btnn {
        padding: 10px 25px;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }
}